.bespoke-wrapper {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    flex-direction: row;
    padding-left: 70px;
    margin-top: 4em;
    margin-bottom: 5em;
}

.bespoke-container__content {
    height: 100%;
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 2em;

}

.bespoke-container__content h2 {
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 621px;
    height: 58px;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .bespoke-container__content h2 {
        width: 96%;
    }
}

.bespoke-container__content p {
    padding-top: 1em;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.7;

}

.bespoke-container__content a.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 44px;
    background: #0D9488;
    border: none;
    color: #fff;
    position: absolute;
    /*bottom:0;*/
    text-decoration: none;
    transition: margin-left 0.2s;
    border-radius: 29px;
}

.bespoke-container__content a.cta:hover {
    background-color: #000000;
    color: #fff;
    margin-left: 5px;
}