@media screen and (max-width: 1000px) {
    .top-nav {
        display: none;
    }
}


.top-nav ul p {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 60px;
    top:30px;
    padding: 5px;
}

.top-nav ul li {
    color: var(--text-primary);
    list-style: none;
    margin: 5px;
    border-radius: 0;
}

.top-nav ul li:hover {
    background-color: rgb(215, 247, 236);
}

.top-nav ul li a:hover {
    color: #000;
}



