@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./assets/fonts/Manrope/Manrope-Medium.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  margin: 0;
  font-family: 'Manrope', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Manrope', 'Courier New',
    monospace;
}


.header-hero-container {
  background-color: var(--bg-hero);
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-hero-container h1 {
  color: var(--text-primary)
}

.header-title {
  font-size: 36px;
  text-align: left;
  padding: 20px 10px 
}

.port-col-wrap {
  padding-top:2em;
  padding-bottom: 2em;
}

.cta {
  width: 234px;
  height: 57px;
  flex-shrink: 0;
  background: #0D9488;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left:24px;
  padding-right: 23px;
  color: #fff;
  border-radius: 33px;
}

a.cta:hover {
  background: black;
}