@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./assets/fonts/Manrope/Manrope-Medium.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  margin: 0;
  font-family: 'Manrope', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Manrope', 'Courier New',
    monospace;
}


.header-hero-container {
  background-color: var(--bg-hero);
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-hero-container h1 {
  color: var(--text-primary)
}

.header-title {
  font-size: 36px;
  text-align: left;
  padding: 20px 10px 
}

.port-col-wrap {
  padding-top:2em;
  padding-bottom: 2em;
}

.why-cont--content {
  position: relative;
  height: 100%;
  max-height: 226px;
}

.why-cont--content p {
  position: absolute;
}

.cta-primary {
  width: 117px;
  height: 33px;
  background: #2C2B30;
  border: none;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  width: 234px;
  height: 57px;
  flex-shrink: 0;
  background: #0D9488;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left:24px;
  padding-right: 23px;
  color: #fff;
}

a.cta:hover {
  background: black;
}


/* plain button */

.cta-plain {
  width: 234px;
  height: 57px;
  flex-shrink: 0;
  background: none;
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left:24px;
  padding-right: 23px;
  color: #000;
  border-radius: 33px;
  border: 1px solid #000;
  position: absolute;
  left:0;
  bottom: 0;
}

a.cta-plain:hover {
  background: black;
  color: white;
}


/* form input fields */
input.email-input-field {
  border-top: none;
  border-left: none;
  border-right: none;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 954px;
  font-size: 20px;
  height: 91px;
  margin-bottom: 44px;
}