@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./assets/fonts/Manrope/Manrope-Medium.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  margin: 0;
  font-family: 'Manrope', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Manrope', 'Courier New',
    monospace;
}


.header-hero-container {
  background-color: var(--bg-hero);
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-hero-container h1 {
  color: var(--text-primary)
}